<h2>{% trans %}Hello, %fullname%{% endtrans %}</h2>

<h3>{% trans %}Welcome to Fitness Calculator application{% endtrans %}</h3>

<p>{% trans %}Follow this link to confirm email and finish registration process: %emailConfirmationUrl%{% endtrans %}</p>