<h2>{% trans %}Hello, %fullname%{% endtrans %}</h2>

<p>{% trans %}Your password recovery token, please not share it with anyone: %token%{% endtrans %}</p>
<p>{% trans %}If you didn't initiate password recovery procedure, just ignore this message.{% endtrans %}</p>